html,
body {
    background-color: #36c5f4;
}

body {
    background-image: url("images/pond/pond.gif"), url("images/pond/sidepond.png");
    background-repeat: no-repeat, repeat-x;
    background-size: 1200px, 1200px;
    background-position: bottom, bottom;
    min-width: 1000px;

    --pondY: calc(100vh - 400px);
    --pondX: calc(max(100vw, 1000px) / 2 - 500px);
    --pondXEnd: calc(max(100vw, 1000px) / 2 + 350px);
    overflow: hidden;
    filter: hue-rotate(0deg);
}

body>input {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

body:has(input:checked) {
    filter: hue-rotate(15deg) saturate(0.8);
}

body:has(input:checked)>overlay {
    background-color: rgba(35, 35, 66, 0.65);
}

body:has(input:checked)>.weather {
    background-image: url("images/pond/rainclouds.gif");
}

body:has(input:checked)>.over {
    background-image: url("images/pond/rain.gif");
}

.weather {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
    background-image: url("images/pond/clouds.gif");
    background-repeat: repeat-x;
    background-size: 2400px;
    background-position: top;
}

.over {
    z-index: 0 !important;
    background-image: unset;
    background-size: 1200px !important;
}

overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0);
}

.sign {
    --size: 58px;
    z-index: 10;
    background-repeat: no-repeat, repeat-x;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-image: url("images/pond/sign.png");
    background-size: calc(var(--size) / (192/1200));
    width: calc(var(--size) / (192/1200));
    height: calc(var(--size) / (192/1200));
    display: block;
    position: absolute;
    cursor: pointer;
    top: -50px;
    left: 0;
    transform-origin: top center;
    animation-timing-function: ease;
}

@keyframes hover-sign {

    0%,
    100% {
        rotate: 0deg;
    }

    50% {
        rotate: 10deg;
    }
}

.sign:hover {
    animation: hover-sign 400ms 1;
}

creatures>* {
    background-repeat: no-repeat, repeat-x;
    background-size: calc(var(--size) / (192/1200));
    width: calc(var(--size) / (192/1200));
    height: calc(var(--size) / (192/1200));
    display: block;
    position: absolute;
    cursor: pointer;
    transition: 0.1s;
}

creatures>*:hover {
    transition: 0.1s;
    width: calc(var(--size) / (192/1200) * 1.2);
    height: calc(var(--size) / (192/1200) * 1.2);
    background-size: calc(var(--size) / (192/1200) * 1.2);
    margin-left: -10px;
    margin-top: -10px;
    rotate: 5deg;
}

pink {
    background-image: url("images/pond/pink.png");
    top: calc(var(--pondY) + 120px);
    left: var(--pondX);
}

orange {
    background-image: url("images/pond/orange.png");
    top: calc(var(--pondY) + 60px);
    left: calc(var(--pondX) + 120px);
}

purple {
    background-image: url("images/pond/purple.png");
    top: calc(var(--pondY) - 20px);
    left: 50%;
}

cyan {
    background-image: url("images/pond/cyan.png");
    top: calc(var(--pondY) + 60px);
    left: calc(var(--pondXEnd) + 60px);
}