@font-face {
    font-family: Aujournuit;
    /* set name */
    src: url(Aujournuit-Regular.otf);
    /* url of the font */
}

body {
    background-color: #1C0037;
    color: white;
    font-family: Aujournuit;
    margin: 10px;
    overflow-x: hidden;
}

/*
Source - https://stackoverflow.com/a
Posted by Vargr, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-10, License - CC BY-SA 4.0
*/

* {
    image-rendering: optimizeSpeed;
    /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Universal support since 2021   */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                           */

}

hr {
    color: white;
}

p {
    font-size: 20px;
}

a {
    color: #3FD300;
    font-weight: bold;
}

b {
    color: #3FD300;
}

.badge {
    box-shadow: none !important;
}

div:has(iframe) {
    width: min(728px, 100vw);
    height: min(90px, 12.367vw);
    background-color: #d9d9d9;
    margin-left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-top: 20px;
}

img {
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

.main {
    background-color: darkviolet;
}

.box-container {
    width: 100%;
    max-width: 994px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.small {
    background-color: darkslategray;
    float: left;
}

body .small~.small {
    background-color: darkslateblue;
    float: right;
}

.box {
    width: 100%;
    height: fit-content;
    min-height: 500px;
    max-width: 900px;
    margin-bottom: 70px;

    border: 10px solid transparent;
    padding: 37px;
    padding-top: 0;
    border-image: url(border.png) 30 round;
    border-image-width: 37px;
    box-shadow: 35px 35px 0px rgb(0, 0, 0);
}

h1 {
    text-align: center;
    font-style: italic;
}