@font-face {
    font-family: Aujournuit;
    /* set name */
    src: url(Aujournuit-Regular.otf);
    /* url of the font */
}

body {
    background-color: #1C0037;
    color: white;
    font-family: Aujournuit;
    margin: 0;
    min-height: 100vh;
    /*! overflow-x: hidden; */
    /*! background: #1C0037; */
    background-image: url("images/background.png"), linear-gradient(325deg, rgb(28, 0, 55) 0%, rgb(207, 62, 182) 75%, rgb(240, 177, 225) 100%);
}

#biglogo {
    box-shadow: none;
    width: 100%;
    max-width: 700px;
    filter: drop-shadow(5px 5px 0 black);
    margin: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
Source - https://stackoverflow.com/a
Posted by Vargr, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-10, License - CC BY-SA 4.0
*/

* {
    image-rendering: optimizeSpeed;
    /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Universal support since 2021   */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                           */

}

hr {
    color: white;
}

p,
span {
    font-size: 20px;
}

a {
    color: #3FD300;
    font-weight: bold;
}

b {
    color: #3FD300;
}

.badge {
    box-shadow: none !important;
}

.john {
    width: min(728px, 100vw);
    height: min(90px, 12.367vw);
    background-color: #d9d9d9;
    margin-left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-top: 20px;
}

.icon {
    box-shadow: none !important;
    transform: translate(0, 11px);
    margin-right: 5px;
}

iframe {
    border: none;
}

/* https://www.madrasacademy.com/wave-text-animation-with-html-and-css/ */
.wave {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    height: 2lh;
    transform: translate(0, 1lh);
    font-size: 20px;
}

.wave span {
    display: inline-block;
    padding: 0;
    animation: wave-animation 2.5s ease-in-out infinite;
    transform: translateY(5px);
    animation-delay: calc(var(--i) * 0.1s);
}

@keyframes wave-animation {

    0%,
    100% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }
}

#games {
    width: 100%;
    height: 420px;
}

.games-container,
.games-body {
    height: 400px;
    background: none;
    background-color: #2f4f4f;
    overflow: hidden;
    width: max-content;
}

.games-container {
    margin-left: 67px;
}

.games-button {
    position: fixed;
    top: 50%;
    border-radius: 0;
    padding: 16px;
    font-family: inherit;
    border: 0;
    background-color: #62c8c8;
    font-weight: bold;
    font-size: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.games-button:hover {
    background-color: #73ebeb;
}

body .games-button~.games-button {
    right: 0;
}

.game-card {
    display: inline-block;
    height: 400px;
    width: 315px;
    background-color: black;
    overflow: hidden;
    margin-right: 67px;
}

.game-card>div>p {
    color: wheat !important;
    text-decoration: none;

    padding: 12px;
    padding-top: 0;
    padding-bottom: 0;

    font-weight: normal !important;
}

img {
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

.main {
    background-color: darkviolet;
}

.box-container {
    width: 100%;
    max-width: 994px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.small {
    background-color: darkslategray;
    float: left;
}

body .small~.small {
    background-color: darkslateblue;
    float: right;
}

.box {
    /*! width: 100%; */
    height: fit-content;
    min-height: 500px;
    max-width: 900px;
    margin-bottom: 70px;

    border: 10px solid transparent;
    padding: 37px;
    border-image: url("images/border.png") 30 round;
    border-image-width: 37px;
    box-shadow: 35px 35px 0px rgb(0, 0, 0);
}

h1 {
    margin-top: 0;
    text-align: center;
    font-style: italic;
}